<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" >
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/stickyaudioplayerjquery.min.css') }}" >
    <script type="text/javascript" src="{{ url_for('static', filename='js/clipboard.min.js') }}" ></script>
    <script  type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/stickyaudioplayerjquery.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lyricer/lyricer.js') }}" ></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lyricer/lyricer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='dist/amplitude.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='wave/dist/bundle.iife.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}"/>

</head>
<body>
{% block body %}

{% endblock %}

</body>
</html>