{% extends 'adminbase.html'%}
{% block body%}

    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></a>
                <div class="top-left-part"><a class="logo" href="index.html"><b><img src="static/admin/plugins/images/pixeladmin-logo.png" alt="home" /></b><span class="hidden-xs"><img src="../plugins/images/pixeladmin-text.png" alt="home" /></span></a></div>
              
                <ul class="nav navbar-top-links navbar-right pull-right">
                  
                    <li>
                        <a class="profile-pic" href="#"> <img src="static/album-art/{{profile[5]}}" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">{{profile[1]}}</b> </a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                  <li style="padding: 10px 0 0;">
                    <a href="/dashboard" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li>
                    <a href="/profile" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i><span class="hide-menu">Profile</span></a>
                </li>
                <li>
                    <a href="/song-table" class="waves-effect"><i class="fa fa-music fa-fw" aria-hidden="true"></i><span class="hide-menu">Song</span></a>
                </li>
                <li>
                    <a href="/artist-table" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i><span class="hide-menu">Artist</span></a>
                </li>
                <li>
                    <a href="/genre-table" class="waves-effect"><i class="fa fa-bell fa-fw" aria-hidden="true"></i><span class="hide-menu">Genre</span></a>
                </li>
                    
                </ul>
                </ul>
                <div class="center p-20">
                  <form action="/logout" method="post">
                      <button type="submit" class="btn btn-danger btn-block btn-rounded waves-effect waves-light">Logout</button>
                  </form>
              </div>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Song Table</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Song</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                           
                            
                            <div class="table-responsive">

                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_song">Add Song</button>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="add_song" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add Song</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <form action='/song-post' method='post' enctype="multipart/form-data">
                                              <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">Artist</label>
                                                <div class="col-sm-6">
                                                  <input class="form-control" name="artist" required>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">Title</label>
                                                <div class="col-sm-6">
                                                  <input class="form-control" name="title" required>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">Song</label>
                                                <div class="col-sm-6">
                                                  <input class="form-control" type='file' name="song" required>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">Duration</label>
                                                <div class="col-sm-6">
                                                  <input type='text' class="form-control" name="duration" required>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">Genre</label>
                                                <div class="col-sm-6">
                                                  <input type='text' step='0.01' class="form-control" name="genre" required>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">description</label>
                                                <div class="col-sm-6">
                                                  <textarea step='0.01' class="form-control" name="description" required cols="30" rows="10"></textarea>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">Trending</label>
                                                <div class="col-sm-6">
                                                  <input type='text' step='0.01' class="form-control" name="trend" required>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">Image</label>
                                                <div class="col-sm-6">
                                                  <input type='file' step='0.01' class="form-control" name="image" required>
                                                </div>
                                              </div>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success">Submit</button>
                                          </div>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                    
                                
                                
                                <br><br>
                                <table id="song" class="display table" style="width:100%">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Image</th>
                                      <th scope="col">Artist</th>
                                      <th scope="col">Title</th>
                                      <th scope="col">Song</th>
                                      <th scope="col">Description</th>
                                      <th scope="col">Duration</th>
                                      <th scope="col">Genre</th>
                                      <th scope="col">Trending</th>
                                      <th scope="col">Edit</th>
                                      <th scope="col">Delete</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    
                                        {% for row in result %}
                                        <tr>
                                            <th scope="row">{{loop.index}}</th>
                                            <td><img src="static/album-art/{{row.8}}" alt="user-img" width="36" class="img-circle"></td>
                                            <td>{{row.1}}</td>
                                            <td>{{row.2}}</td>
                                            <td><audio src="/static/songs/{{row.3}}" controls style="width: 60px;">
                                            </audio></td>
                                            <td ><p style="width: 80px;overflow: hidden; max-height: 60px;" >{{row.6}}</p></td>
                                            <td>{{row.4}}</td>
                                            <td>{{row.5}}</td>
            
                                            <td>{{row.7}}</td>
                                            
                                            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit_song_{{row.0}}">Edit</button></td>
                                            
                                            
                                            <!-- Modal -->
                                            <div class="modal fade" id="edit_song_{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Edit Song</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <form action="/song-update/{{row.0}}" method='post' enctype="multipart/form-data">
                                                  <div class="modal-body">
                                                      <div class="form-group row">
                                                        <label class="col-sm-6 col-form-label">Artist</label>
                                                        <div class="col-sm-6">
                                                          <input class="form-control" name="artist" value="{{row.1}}">
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label class="col-sm-6 col-form-label">Title</label>
                                                        <div class="col-sm-6">
                                                          <input class="form-control" name="title" value="{{row.2}}">
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label class="col-sm-6 col-form-label">Song</label>
                                                        <div class="col-sm-6">
                                                          <input class="form-control" type='file' name="song" >
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label class="col-sm-6 col-form-label">Duration</label>
                                                        <div class="col-sm-6">
                                                          <input class="form-control" type='text' name="duration" value="{{row.4}}">
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label class="col-sm-6 col-form-label">Genre</label>
                                                        <div class="col-sm-6">
                                                          <input type='text' step='0.01' class="form-control" name="genre" value="{{row.5}}">
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label class="col-sm-6 col-form-label">description</label>
                                                        <div class="col-sm-6">
                                                          <textarea step='0.01' class="form-control" name="description" required cols="30" rows="10">{{row.6}}</textarea>
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label class="col-sm-6 col-form-label">Trending</label>
                                                        <div class="col-sm-6">
                                                          <input type='text' step='0.01' class="form-control" name="trend" value="{{row.7}}">
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label class="col-sm-6 col-form-label">Image</label>
                                                        <div class="col-sm-6">
                                                          <input type='file' step='0.01' class="form-control" name="image" >
                                                        </div>
                                                      </div>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-success">Update</button>
                                                  </div>
                                                  </form>
                                                </div>
                                              </div>
                                            </div>
                                            <!-- End Modal -->
                                            
                                            
                                            <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_song_{{row.0}}">Delete</button></td>
                                            
                                            
                                            <!-- Modal -->
                                                <div class="modal fade" id="delete_song_{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete Song</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                      <form action="/song-delete/{{row.0}}" method='post'>
                                                      <div class="modal-body">
                                                          <div class="form-group row">
                                                            <label class="col-sm-12 col-form-label">Do you want to delete this Song <span style='font-weight:bold;color:red'>{{row.1}}</span> ?</label>				
                                                          </div>			
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                      </div>
                                                      </form>
                                                    </div>
                                                  </div>
                                                </div>
                                            <!-- End Modal -->
                                            
                                            
                                        </tr>	
                                        {% endfor %}
                                    
                                  </tbody>
                                </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Ferry Muzic</footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
 <!-- jQuery -->
  <script >
  // Call the dataTables jQuery plugin
 $(document).ready(function() {
  $('#song').DataTable();
});

</script>


 
 <!-- Menu Plugin JavaScript -->
 <script type="text/javascript" src="{{ url_for('static', filename='admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"></script>
 <!--slimscroll JavaScript -->
 <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery.slimscroll.js') }}"></script>
 <!--Wave Effects -->
 <script type="text/javascript" src="{{ url_for('static', filename='admin/js/waves.js') }}"></script>
 <!--Counter js -->
 <script type="text/javascript" src="{{ url_for('static', filename='admin/plugins/bower_components/waypoints/lib/jquery.waypoints.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='admin/plugins/bower_components/counterup/jquery.counterup.min.js') }}"></script>
 <!--Morris JavaScript -->
 <script type="text/javascript" src="{{ url_for('static', filename='admin/plugins/bower_components/raphael/raphael-min.js') }}"></script>

 <!-- Custom Theme JavaScript -->
 <script type="text/javascript" src="{{ url_for('static', filename='admin/js/custom.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='admin/js/dashboard1.js') }}"></script>


    {%endblock%}

